body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #18417e;
  background-color: #fff;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  border-radius: 20px;
}

.container {
  width: 100%;
  max-width: 1128px;
  margin: 0 156px;
}

.heading {
  font-family: roboto-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 112px;
  text-align: center;
}

.nav-bar {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  display: flex;
  align-items: end;
  gap: 24px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
  padding-bottom: 48px;
  position: relative;
}

.home-divider {
  border: 1px solid #5c5a8e;
  width: 552px;
  margin-left: 0;
  margin-top: 32px;
  margin-bottom: 48px;
}

.home-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 32px;
}

.home-item {
  color: #5c5a8e;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #5c5a8e;
  padding: 8px 24px;
}

.hello-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hello {
  width: 640px;
  display: inline-block;
  text-align: left;
}

.home-image {
  align-self: flex-end;
  max-width: 100%;
  border-radius: 20px;
}

.home-button {
  width: auto;
  padding: 24px 80px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #18417e;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.home-button:hover,
.home-button:focus {
  background-color: #9997ca;
  box-shadow: inset 0 0 32px 0 #18417e;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 24px;
  position: absolute;
  right: 0; /* Align to the right side of the container */
  bottom: -50%; /* Place halfway down the home container */
  transform: translateY(-80%);
}

.skill-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #5c5a8e;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #5c5a8e;
  padding: 8px 24px;
}

.background {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #f5f4fb;
}

#about,
#projects {
  max-width: 100%;
  align-items: flex-start;
  margin-bottom: 100px;
}

.about-heading {
  display: flex;
  margin-top: 116px;
  /* margin-left: 156px; */
}

.projects-heading {
  display: flex;
}

.about-description {
  max-width: 1128px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 96px;
  margin-top: 80px;
}

.descr-item {
  width: 480px;
}

.skills {
  margin-top: 100px;
  max-width: 1128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-skill-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-skill-list.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-content: center;
}

.about-skill-list.lang {
  width: fit-content;
}

.about-skill-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-skill-item:first-child {
  width: 540px;
}

span {
  font-weight: 700;
  text-transform: uppercase;
}

.project-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  max-width: 1128px;
  margin-top: 60px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-descr {
  max-width: 264px;
  font-weight: 700;
}

.qr-code {
  border-radius: 0;
}

#footer {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 100px;
  background-color: #18417e;
  color: #fff;
}

.contact-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.contact-list-item:first-child {
  padding-right: 120px;
}
